.App {
  padding-left: 100px;
  padding-top: 40px;
  padding-right: 75px;
}

select {
  width: 300px;
  border-radius: 6px;
  margin: 10px 10px 40px 0px;
  padding: 10px;
}

input {
  width: 300px;
  border-radius: 6px;
  padding: 10px;
  border: 1px solid black;
  margin: 10px 10px 40px 0px;
}

.card {
  width: 230px;
  border: 1px solid black;
  border-radius: 8px;
  height: 300px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--image {
  width: 90%;
  height: 120px;
  border: 1px solid lightgray;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
}

.card--stats {
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card--stats h4 {
  margin-top: 10px;
  font-weight: 500;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats p {
  font-weight: 400;
  font-size: 13px;
}

.cardDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.clear-filters {
  background: none;
  border: none;
  color: red;
  font-size: 13px;
  cursor: pointer;
}

.emptyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.emptyDiv-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


